.gradient-effect{
  background: #ccc linear-gradient(to bottom, #ccc ,#eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding:10px;
}

.accent-color{
  font-weight: 700;
  color:#e96a21;
}
.margin-top-default{
  margin-top:20px;
}
.margin-top-thin{
  margin-top:15px;
}