@import url(./normalize.css);
@import url(./reset.css);

*, *::before,*::after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:inherit;
}
/*본문 스타일 */
body{
  color: #181818;
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 100;
}
/* 쉬프트 + 알트 + 위아래 방향키 누르면 복제가 됨*/
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin:0 auto;
}
/* 헤더 */
.header{
  padding: 0 30px;
  background: #fff;
  height: 15vh;
  border-radius: 0 0 15px 15px;
  position: relative;
  
}

/* 로고 */

.logo{
  position: absolute;
  top: 45px;
  left: 60px;
}

/* 텍스트 링크 모음 */

.member{
  
  text-align: right;
  font-size:  0;
  padding:4px 0;
}

.member li{
  font-size:  16px;
  display: inline-block;
}
.member a{
  padding: 6px 0;
  background-color: coral;
  display:inherit;
}
.divider{
  margin-right: 4px;
}

/* 비주얼 */
.visual{
  background: chartreuse;
  height: 10vh;
}
/* 메인 */
.main{
  background: rgb(59, 111, 160);
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 30px;
}

.group1{
background-color: yellow;
width: 380px;

}
.group2{
  width: 250px;
  background-color: rgb(44, 9, 62);
}
.group3{
  width: 190px;
  background-color: rgb(137, 119, 146);
}
/* 슬로건 */
.slogan{
  background: rgb(226, 164, 173);
  height: 10vh;
}
/* 푸터 */
.footer{
  background: rgb(205, 187, 190);
}
.footer-inner{
  background: gray;
  height: 15vh;
}